<div class="category-container">
  <div class="controls">
    <h2>Create Category</h2>
    <form [formGroup]="categoryForm" onsubmit="addCategory()">
      <div class="form-group">
        <label for="categoryType">Choose Type:</label>
        <select
          id="categoryType"
          class="form-control"
          formControlName="categoryType"
          (change)="onCategoryTypeChange($event)"
        >
          <option value="select">[Select]</option>
          <option value="parent">Parent Category</option>
          <option value="sub">Subcategory</option>
        </select>
      </div>
      <div *ngIf="isSubCategory">
        <div class="form-group" *ngIf="category$ | async as category">
          <label for="parentCategorySelect">Parent Category</label>
          <select
            id="parentCategorySelect"
            class="form-control"
            formControlName="parentCategory"
          >
            <option value="select">[Select]</option>
            <option *ngFor="let c of category" [value]="c.categoryId">
              {{ c.categoryName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="pcName">Category Name:</label>
        <input
          type="text"
          id="pCatName"
          class="form-control"
          placeholder="Enter category name"
          formControlName="categoryName"
        />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="addCategory()">
          Add Category
        </button>
      </div>
    </form>
  </div>
</div>
