@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #141a4e;
  background-color: #088df3;
  font-size: 1.6rem;
  padding: 1rem;
}
.heading {
  width: 100%;
  height: 80px;
  text-align: center;
  justify-content: center;
  font-size: 2.4rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.responsive-table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  min-width: 100%;
  margin: 5 auto;
}

.responsive-table th,
.responsive-table td {
  padding: 1rem;
  border: 5px solid rgb(8, 8, 8);
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.responsive-table thead {
  background-color: rgb(184, 233, 9);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.responsive-table thead:hover {
  color: white;
}

.responsive-table tbody tr:hover {
  color: white;
  background-color: #fb4f83;
}

.responsive-table th:nth-child(1),
.responsive-table td:nth-child(1) {
  width: 5%;
  text-align: center;
}

.responsive-table th:nth-child(2),
.responsive-table td:nth-child(2) {
  width: 10%;
}

.responsive-table th:nth-child(3),
.responsive-table td:nth-child(3) {
  width: 25%;
  text-align: center;
}

.responsive-table th:nth-child(4),
.responsive-table td:nth-child(4) {
  width: 8%;
  text-align: center;
}
.responsive-table th:nth-child(5),
.responsive-table td:nth-child(5) {
  width: 50%;
  text-align: center;
}

.btn-option {
  height: 50px;
  width: 120px;
  gap: 2rem;
  color: white;
  font-weight: bold;
}

@media (max-width: 991px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table tbody td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-left: 50%;
  }

  .responsive-table tbody td::before {
    content: attr(data-title);
    position: absolute;
    left: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #141a4e;
  }
}
