* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}
.main {
  background: linear-gradient(to right, #ff1a66, #ff6699);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  padding: 50px;
  font-size: 30px;
  color: #fff;
  height: 10vh;
}
header span {
  margin-left: 10px;
}
header ul {
  float: right;
  list-style: none;
}
header ul li {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.2s;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  /* cursor: pointer; */
}
/* header ul li:nth-child(1) {
      background-color: #222;
    } */
header ul li:hover {
  background-color: #222;
}
header ul li a.active-link {
  background-color: #222; /* Highlight active link */
  color: #fff; /* Optional: Change text color */
  font-weight: bold; /* Optional: Emphasize active link */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}
a {
  cursor: pointer;
}
