<!-- <app-product-category></app-product-category>
<app-product-list></app-product-list> -->
<!-- <div class="category">
  <app-product-category></app-product-category>
</div> -->

<!-- <div class="product-list">
  <app-product-list
    [selectedCategoryId]="selectedCategoryId"
  ></app-product-list>
</div> -->

<div class="product-catalogue">
  <div class="category">
    <app-product-category
      (sCategoryId)="onCategorySelected($event)"
    ></app-product-category>
  </div>
  <div class="product-list">
    <app-product-list
      [selectedCategoryId]="selectedCategoryId"
    ></app-product-list>
  </div>
</div>
