<!-- <div class="main">
  <header>
    <i class="fa-solid fa-bag-shopping"></i>
    <span>Ecommerce</span>
    <ul>
      <li><a routerLink="/welcome/home">Home</a></li>
      <li><a routerLink="/welcome/Services">Services</a></li>
      <li><a routerLink="/welcome/cart">Carts</a></li>
      <li><a routerLink="/welcome/about">About</a></li>
      <li>
        <a routerLink="/welcome/contact" routerLinkActive="active-link"
          >Contact</a
        >
      </li>
    </ul>
  </header>
  <main>
    <p>Welcome to our shopping Site</p>
    <button (click)="loadRegisterPage()">Start Shopping</button>
  </main>
</div> -->
<main>
  <p>Welcome to our shopping Site</p>
  <button (click)="loadRegisterPage()">Start Shopping</button>
</main>
