<app-loading-spinner></app-loading-spinner>
<!-- <div class="main">
  <header>
    <i class="fa-solid fa-bag-shopping"></i>
    <span>Ecommerce</span>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active-link">Home</a>
      </li>
      <li>
        <a routerLink="services" routerLinkActive="active-link">Services</a>
      </li>
      <li>
        <a routerLink="cart" routerLinkActive="active-link">Carts</a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="active-link">About</a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->
<router-outlet></router-outlet>
